<dl>
  <% @movies.each do | movie| %>
    <dt>
      <p>title: <%= movie.title %></p>
    </dt>
    <dd>
      <p>year: <%= movie.year %></p>
    </dd>
    
    <%= link_to movie.title, movie_path(movie.id)%>
  <% end %>
</dl>
