<dl>
  <% @movies.each do | movie| %>
    <dt>
      <p>title: <%= movie.title %></p>
    </dt>
    <dd>
      <p>year: <%= movie.year %></p>
    </dd>
    
    <%= link_to "Descrição", movie%>
    <%= link_to 'Editar', edit_movie_path(movie.id) %>
  <% end %>
</dl>
