<dl>
  <% @gender.each do | gender| %>
    <dt>
      <p>title: <%= gender.name %></p>
    </dt>
    
    <%= link_to "Filmes com este genero", gender%>
    <%= link_to 'Editar', edit_gender_path(gender.id) %>
    
  <% end %>
  
</dl>
